/* GENERAL */

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding:0;
}

main{
    margin:auto;
    margin-top: 50px;
    width: 410px;
    height: 410px;
    border-style:outset;
}

/* FLEX */

.container {
    background-color:#cacaca;
    display:inline-flex; /*container englobe uniquement les box*/
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    
    
}

.box{
    border-style:dotted;
    border-right: 0;
    border-bottom: 0;
    width: 50px;
    height:50px;
    text-align: center;
}



/* Paragraphes */

p{
   margin:0;
   font-size: 40px;
}


/* BORDER */

/* Border-right */

.last{
    border-right: dotted;
}

/* Border-bottom */

.bottom{
    border-bottom: dotted ;
}

/* Border-left */

.left{
    border-left: 0;
}

/* GREY */

.grey{
    border-style: outset;
    border-bottom: solid;
    border-right: solid;
    border-top: solid white;
    border-left: solid white;
}

/* image */

i{
    margin-top: 5px;
}


/* Colors */

.blue{
    color:#5000ff;
}

.green{
    color:#009d0d;
}

.red{
   color: #ff0000;
}

